footer{
    display: block;
    flex-direction: row;
    background-color: rgb(42, 42, 42);
    width: 96vw;
    border-left: 2px solid rgb(42, 42, 42);
    height: 6vh;
    color: white;
    width: 96vw;
}

/* mobile */
@media only screen and (max-width: 780px){
    footer{
        width: 100vw;
        color: white;
    };
}

/* laptop */
@media only screen and (max-width: 780px){

}