
.m_right{
    overflow: hidden;
    float: right;
    width: 52%;
    height: 100%;
    flex-direction: column;
}


.top{
    width: 100%; height: 30%;
    flex-direction: row;
    border-bottom: 2px solid rgb(124, 124, 124);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.bottom{
    background-color: rgb(240, 240, 240);
    flex-direction: row;
    width: 100%; height: 70%;
}

.html_i{
    width: 6%;
    height: 40px;
    margin: 30px;
    margin-top: 80px;
    transition: 0.3s; 
}
.html_i:hover{
    width: 8%;
    height: 44px;
    margin-top:26px;
    margin-bottom:26px; 
    margin-left: 26px;
    margin-right: 21px;
    cursor: pointer;
}


.css_i{
    width: 6%;
    height: 40px;
    margin: 30px;
    margin-top: 80px;
    transition: 0.3s; 
}

.css_i:hover{
    width: 8%;
    height: 44px;
    margin-top:26px;
    margin-bottom:26px; 
    margin-left: 26px;
    margin-right: 21px;
    cursor: pointer;
}

.python_i{
    width: 6%;
    height: 40px;
    margin: 30px;
    margin-top: 80px;
    transition: 0.3s; 
}

.python_i:hover{
    width: 8%;
    height: 44px;
    margin-top:26px;
    margin-bottom:26px; 
    margin-left: 26px;
    margin-right: 21px;
    cursor: pointer;
}

.django_i{
    width: 6%;
    height: 40px;
    margin: 30px;
    margin-top: 80px;
    transition: 0.3s; 
}

.django_i:hover{
    width: 8%;
    height: 44px;
    margin-top:26px;
    margin-bottom:26px; 
    margin-left: 26px;
    margin-right: 21px;
    cursor: pointer;
}

.js_i{
    width: 6%;
    height: 40px;
    margin: 30px;
    margin-top: 80px;
    transition: 0.3s; 
}

.js_i:hover{
    width: 8%;
    height: 44px;
    margin-top:26px;
    margin-bottom:26px; 
    margin-left: 26px;
    margin-right: 21px;
    cursor: pointer;
}

.skill_names{
    color: grey;
    text-align: center;
    word-spacing: 4;
}

@media only screen and (max-width: 580px){
    
.html_i{
    width: 10%;
    height: 40px;
    margin: 10px;
    margin-top: 80px;
    transition: 0.3s; 
}

.css_i{
    width: 10%;
    height: 40px;
    margin: 10px;
    margin-top: 80px;
    transition: 0.3s; 
}


.python_i{
    width: 10%;
    height: 40px;
    margin: 10px;
    margin-top: 80px;
    transition: 0.3s; 
}


.django_i{
    width: 10%;
    height: 40px;
    margin: 10px;
    margin-top: 80px;
    transition: 0.3s; 
}


.js_i{
    width: 10%;
    height: 40px;
    margin: 10px;
    margin-top: 80px;
    transition: 0.3s; 
}

}