
.sidebar{
    float: left;
    width: 4%;
    height: 100vh;
    border-right: 2px solid rgb(124, 124, 124);
    overflow: hidden;
    display: inline;
    flex-direction: column;
    justify-content: space-between;
}

.menu_i{
    width: 42%;
    height: 30px;
    margin-top: 20%;
    transition: 0.3s;
}

.menu_i:hover{
    transform: scale(1.3, 1);
    cursor: pointer;
}

.menu_div{
    width: 100%;
    height: 87%;
     text-align: center;
}

.social_icons{
    width: auto;
    max-height: 13vh;
    height: 100%;
    text-align: center;
    transform: scale(1);
}

.social_icons img{
    width: 100%;
    height: auto;
    max-width: 2.2vw;
    margin-bottom: 16%;
    transition: 0.3s;
    width: 100%;
}

.social_icons img:hover{
    transform: scale(1.1);
}

.linkedin_i{
    padding-top: 32%;
}

/* mobile */
@media only screen and (max-width: 780px){
    .sidebar{
        display: none
    };
}

/* laptop */
@media only screen and (max-width: 780px){

}