@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,500;1,800&display=swap');

@import "header","sidebar", "footer", "mright_t", "mright_b";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
background-color: #FAF9F6;
float: right;
width: 96vw;
height: 89vh;
flex-direction: column;
}

.div_content{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    transform: scale(1);
    transition: 0.5s;
}

.div_content:hover{
    transform: scale(1.02);
}

.m_left{
    align-items: center;
    float: left;
    width: 48%;
    height: 100%;
    flex-direction: column;
    border-right: 2px solid rgb(124, 124, 124);
}

.main_logo{
    width: 100%;
    height: auto;
    max-width: 25vw;
    margin-top: 3%;
}

.mleft_p{
    color: rgb(36, 36, 36);
    width: 70%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.3;
    text-align: justify;
}

.mleft_p2{
    color: rgb(123, 123, 123);
    width: 70%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.3;
    text-align: justify;
}

.djangogirls{
    text-decoration: underline rgb(108, 108, 108);
    font-weight: 600;
    color: rgb(108, 108, 108);
    transition: 0.3s;
}

.djangogirls:hover{
    text-decoration: underline rgb(74, 74, 74);
    font-weight: bold;
    color: rgb(74, 74, 74);

}

.fsu{
    text-decoration: underline rgb(31, 142, 74);
    font-weight: 600;
    color: rgb(59, 158, 59);
    transition: 0.3s;
}

.fsu:hover{
    text-decoration: underline rgbrgb(23, 121, 64);
    font-weight: bold;
    color: rgb(23, 121, 64);

}


/* mobile */
@media only screen and (max-width: 780px){

    main{
        width: 100%;
        background-color: white;
        overflow: scroll;
        overflow-x: hidden;
    }

    .mleft{
        border: none;
    }

    .mleft_p{
        font-size: 1rem;
        line-height: 1.4;
        text-align: center;
    }

    .main_logo{
        max-width: 60vw;
    }

    .top{
        border-top: 2px solid rgb(124, 124, 124);
    }

    #row-{
        width: 100%;
        overflow: visible;
    }
}

/* laptop */
@media only screen and (max-width: 780px){

}