@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,500;1,800&display=swap');

@import "header","sidebar", "footer", "mright";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main{
background-color: rgb(240, 240, 240);
overflow: hidden;
float: right;
width: 96vw;
height: 89vh;
flex-direction: column;
}

/* mobile */
@media only screen and (max-width: 600px){
}

/* laptop */
@media only screen and (max-width: 768px){

}

.m_left{
    overflow: hidden;
    float: left;
    width: 48%;
    height: 100%;
    flex-direction: column;
    border-right: 2px solid rgb(124, 124, 124);
    text-align: center;
}

.main_logo{
    width: 62%;
    height: 40%;
    margin-top: 10%;
}
